@charset "UTF-8";
* {
  box-sizing: border-box;
  text-align: right;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background: #fff;
  color: #111;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  direction: rtl;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: clamp(44px, 6vw, 80px) clamp(16px, 3vw, 32px);
}

.logo {
  color: black;
  text-decoration: none;
  font-size: clamp(24px, 3vw, 30px);
  font-weight: 700;
}

h1 {
  font-size: clamp(44px, 5vw, 80px);
  font-weight: 700;
}

h2 {
  font-size: clamp(30px, 4vw, 44px);
  font-weight: 700;
  margin-bottom: 24px;
}

h3 {
  font-size: clamp(24px, 2vw, 28px);
  font-weight: 700;
}

h4 {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 500;
}

p,
.text-normal {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 300;
}

.btn {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 700;
}

summary {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
}
.btn.primary {
  background: #000;
  color: #fff;
}
.btn.primary:hover {
  background: #222;
}
.btn.secondary {
  background: transparent;
  border: 1px solid #000;
  color: #000;
}
.btn.secondary:hover {
  background: #000;
  color: #fff;
}

.site-header {
  border-bottom: 1px solid #eee;
  display: grid;
  align-items: center;
}
.site-header .container {
  padding: 0 clamp(16px, 3vw, 32px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .site-header .container {
    padding: 16px clamp(16px, 3vw, 32px);
  }
}
.site-header .main-nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
}
.site-header .main-nav ul li a {
  padding: 24px 16px;
  text-decoration: none;
  color: #333;
  display: block;
}
.site-header .menu-toggle {
  padding: 10px;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
}
.hero .hero-text {
  flex: 1;
}
.hero .hero-text .cta-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.hero .hero-text p {
  margin-top: 16px;
  margin-bottom: 30px;
}
.hero .hero-image {
  flex: 1;
}
@media (min-width: 992px) {
  .hero .hero-text {
    flex: 2;
  }
  .hero .hero-image {
    flex: 1;
  }
}
@media (max-width: 991px) {
  .hero .hero-text {
    flex: 1;
  }
  .hero .hero-image {
    flex: 1;
  }
  .hero .btn {
    width: 100%;
  }
}
.hero .hero-image img {
  max-width: 100%;
  border-radius: 12px;
}

.solutions .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 992px) {
  .solutions .container {
    gap: 2rem;
  }
}
.solutions .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}
.solutions .top .text {
  flex-basis: 60%;
}
@media (max-width: 992px) {
  .solutions .top .text {
    flex-basis: 100%;
  }
}
.solutions .top .img-wrapper {
  flex: 1;
}
@media (max-width: 992px) {
  .solutions .top .img-wrapper {
    display: none;
  }
}
.solutions .top img {
  max-width: 100%;
  max-height: 180px;
}
.solutions .solution-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.5rem;
}
.solutions .solution-grid .solution-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 922px) {
  .solutions .solution-grid .solution-card {
    flex-direction: row;
  }
}
.solutions .solution-grid .solution-card img {
  width: 40px;
}

.trust-signal .container {
  display: flex;
  gap: 2rem;
}
@media (max-width: 992px) {
  .trust-signal .container {
    flex-direction: column;
  }
}
.trust-signal .text {
  flex: 1;
}
.trust-signal ul {
  padding: 16px 0 32px;
}
.trust-signal li {
  display: flex;
}
.trust-signal li img {
  max-width: 30px;
}
.trust-signal .img-wrapper {
  flex: 1;
}
.trust-signal img {
  max-width: 100%;
}

.services {
  text-align: center;
}
.services .services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}
.services .service-card {
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #cecece;
  display: flex;
  overflow: hidden;
}
.services .service-card .img-wrapper {
  padding: 32px 16px;
  width: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.services .service-card .image-wrapper--service1 {
  background-color: #e3f2ff;
}
.services .service-card .image-wrapper--service2 {
  background-color: #fff2ee;
}
.services .service-card .image-wrapper--service3 {
  background-color: #f2c8ad;
}
.services .service-card .image-wrapper--service4 {
  background-color: #f5ebff;
}
.services .service-card .image-wrapper--service5 {
  background-color: #ffeba7;
}
.services .service-card img {
  width: 45px;
}
.services .service-card .content {
  padding: 32px;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.services .service-card .text {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services .service-card h3 {
  margin-bottom: 0.5rem;
}
.services .service-card p {
  color: #555;
  text-align: right;
}
.services .bottom-text {
  margin-top: 2rem;
}
.services .bottom-text a {
  color: #000;
  text-decoration: underline;
}

.testimonials .testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.testimonials .testimonial-grid .review-card {
  border: 1px solid #cecece;
  border-radius: 25px;
  padding: 32px 32px;
  height: 420px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.testimonials .testimonial-grid .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.testimonials .testimonial-grid .date {
  color: #767676;
}
.testimonials .testimonial-grid .reviewer {
  display: flex;
  gap: 16px;
  margin-top: auto;
}
.testimonials .testimonial-grid .reviewer .details {
  display: flex;
  flex-direction: column;
}
.testimonials .testimonial-grid .reviewer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonials .testimonial-grid .details span {
  color: #767676;
}
.testimonials .btn {
  margin: 0 auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.data-section,
.support,
.guarantee {
  text-align: center;
}
.data-section .container,
.support .container,
.guarantee .container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .data-section .container,
  .support .container,
  .guarantee .container {
    flex-direction: column;
  }
  .data-section .container .support .container,
  .support .container .support .container,
  .guarantee .container .support .container {
    flex-direction: column-reverse;
  }
}
.data-section .text,
.support .text,
.guarantee .text {
  flex: 1;
}
.data-section .img-wrapper,
.support .img-wrapper,
.guarantee .img-wrapper {
  flex: 1;
}
.data-section img,
.support img,
.guarantee img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .support .container {
    flex-direction: column-reverse;
  }
}

.faq summary {
  padding: 2rem 0 2rem;
  list-style: none;
  cursor: pointer;
  position: relative;
}
.faq summary::after {
  content: "+";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 32px;
  transition: transform 0.2s ease;
}
.faq details[open] summary {
  padding-bottom: 1rem;
}
.faq details[open] summary::after {
  content: "–";
}
.faq summary::-webkit-details-marker {
  display: none; /* Removes arrow in Chrome, Edge, Safari */
}
.faq p {
  padding-bottom: 2rem;
}
.faq details {
  background: #fff;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 2s ease;
}
.faq .btn {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2rem;
  display: block;
}

.site-footer {
  background: #111;
  color: #fff;
  padding: 2rem 0;
}
.site-footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.site-footer .footer-logo {
  margin-bottom: 2rem;
  color: #fff;
}
.site-footer .footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 5rem;
  justify-content: space-between;
}
.site-footer .footer-columns .footer-links h4,
.site-footer .footer-columns .footer-contact h4 {
  margin-bottom: 1rem;
}
.site-footer .footer-columns .footer-links ul li,
.site-footer .footer-columns .footer-contact ul li {
  margin-bottom: 1rem;
}
.site-footer .social-icons {
  display: flex;
  gap: 16px;
}
.site-footer .footer-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;
}
.site-footer .footer-bottom a {
  text-decoration: underline;
}
.site-footer .bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0 2rem;
}
.site-footer .legal-links {
  display: flex;
  gap: 16px;
}

@media (max-width: 768px) {
  .hero .container,
  .solutions .solution-grid,
  .services .services-grid,
  .testimonials .testimonial-grid {
    flex-direction: column;
  }
  .site-header .menu-toggle {
    display: block;
  }
  .site-header .menu-toggle i {
    font-size: 20px;
  }
  .site-header .main-nav {
    display: none;
  }
  .site-header .main-nav.nav-open {
    display: block;
    background: #fff;
    position: absolute;
    top: 60px;
    left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .site-header .main-nav.nav-open ul {
    flex-direction: column;
    gap: 0;
  }
  .site-header .main-nav.nav-open li a {
    padding: 20px 8px 20px 120px;
  }
  .site-header .main-nav.nav-open li:hover {
    background-color: #eee;
  }
  .site-header .main-nav.nav-open li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
  }
}/*# sourceMappingURL=main.css.map */